<div style="width: 1000px; margin: auto; text-align: center;">
    <ag-grid-angular
        
        style=" height: 500px;" 
        class="ag-theme-balham"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData" 
        [columnDefs]="columnDefs"
        enableRtl="true"
        [rowDragManaged]="true"
        >
    </ag-grid-angular>
    </div>

    <div>
         <div name="dialog" *ngIf="vars.toChangeDoctor" class="dialog-year dialog-doctor" >
             <div (click)="closeDialog()" class="pull-right icon-close"><i class="fa fa-times" aria-hidden="true"></i></div>
                <div style="padding: 50px;">  
                {{vars.item.nvNewDoctorName}}
                <br />
                <search-input id="iCatItemId" ng-model="iCatItemId" sourcedata="lCategoryItem" ismulti="false" bcancel="true" bcursor="true"
                              onChoose="choose(itemSearch)" searchfield="['nvCatItemName']" placeholder="שם הרופא" title="שם הרופא">
                </search-input>
    
            </div>
             <div class="">
                <button type="button" class="Btn btn-danialli pull-left" style="margin: 8px;" (click)="saveDoctor()">אישור</button>
            </div> 
        </div> 
    </div>