<div style="width: 80%; margin: auto; text-align: center;">
<ag-grid-angular
	
	style=" height: 500px;" 
	class="ag-theme-balham"
	[defaultColDef]="defaultColDef"
	[rowData]="rowData" 
	[columnDefs]="columnDefs"
	enableRtl="true"
    [rowDragManaged]="true"
	>
</ag-grid-angular>
</div>


 <!-- <div *ngIf="this.vars.bShowRecommendation">
	<span>
	  {{vars.item.recommendation}}
	  <div class="dialog-reccomendation" ngShow="vars.bShowRecommendation">
		<div class="dialog-reccomendation-arrow"></div>
			 <div class="dialog-reccomendation-inner">{{vars.item.recommendation}}</div>'
	   </div>
	</span>
</div>   -->
